* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    flex: 1;
    max-width: 420px;
}